# # Binaries for programs and plugins
# *.exe
# *.exe~
# *.dll
# *.so
# *.dylib

# # Test binary, build with 'go test -c'
# *.test

# # Output of the go coverage tool, specifically when used with LiteIDE
# *.out

# # Go related files
# /.idea/
# /.vscode/
# /.vs/
# /vendor/
# /Godeps/
# /Godeps_test/
# /bin/

# # Ignore PostgreSQL data directory
# /data/

# # Ignore Docker Compose files
# docker-compose.yml
# docker-compose.override.yml

# # Ignore .env files which contain sensitive credentials
# *.env
